<div class="row justify-content-center align-items-center">
    <div class="col-lg-6">
        <form asp-controller="Webboard" asp-action="Search">
            <div class="input-group">
                <input type="text" name="q" class="form-control mr-1" placeholder="Search the topic..." >
                <button type="submit" class="btn btn-success">
                    Search topic
                </button>
            </div>
        </form>
    </div>
</div>