
@{
    ViewData["Title"] = "Home Page";
}

<div class="container border" >
    <div class="row">
        <div class="col-md-6">
            <form >
                Name : 
                Address:
            </form>
        </div>
    </div>

</div>
